$white : #fff;
$black: #242424;
$red: #f00946;
$blue: #276afb;
$green:#25ca4a;

@mixin theme($color0ne , $colorTwo) {
  background-color: $color0ne;
  color: $colorTwo;
}


.btn{
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  white-space: nowrap;
  cursor: pointer;

  &--primary{
    @include theme($black , $white);
    border: 1px solid $white;
  }

  &--outline{
    background-color: transparent;
    color:$white;
    padding: 8px 20px;
    border:1px solid $white;
    transition: all 0.3s ease-out;
  }

  &--medium{
    padding: 8px 20px;
    font-size: 18px;
  }

  &--large{
    padding: 12px 26px;
    font-size: 20px;
  }

  &--mobile{
  text-align: center;
  width: 80%;
  border-radius:none;
  text-decoration: none;
  font-size: 24px;
  background-color: transparent;
  color:&$white;
  border: 1px solid $white;
  padding: 14px 20px;
  transition: all .3s ease-out;
  }

  &--wide{
    padding: 12px 64px;
    font-size: 20px;
  }

  &--large:hover,
  &--medium:hover,
  &--mobile:hover
  {
    transition: all .3s ease-out;
    @include theme($black , $white);

  }

  &--wide:hover{
    @include theme($red,$white);
    transition: all .2s ease-out;
  }
}

.blue{
  @include theme($blue, $white);
  border:none;
}

.red{
@include theme($red, $white);
border:none;
}

.primary {
  @include theme($black , $white);
  border:none;

  &:hover{
    @include theme($white, $black);
    
    border:none;
  }
}

.green{
  @include theme($green, $white );
  border: none;

  &:hover{
    background-color: $black;
  }
}



